@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swaphttps://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');
body {
  margin: 0;
  background-color: #0C0C0D;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Roboto Serif',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
